node_modules
.vscode
jest.config.js
yarn.lock
.gitignore
packages/examples
coverage
.idea
.DS_Store
e2e
material
ionic
scripts
devtools
.prettierrc.yml
jest.config.js
tsconfig.dist.json
tsconfig.json
