// SpringType colors
$mdc-theme-primary: #1a6da9;
$mdc-theme-secondary: #2a863c;
$mdc-theme-background: #fff;

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}


@import "material-components-web/material-components-web";
