$box: 30 !default;
$borderSize: 4 !default;
$boxSize: $box -$borderSize*2;

$one-color: #0901b6 !default;
$two-color: #1c7120 !default;
$three-color: #e71017 !default;
$four-color: #010053 !default;
$five-color: #5d1c1a !default;
$six-color: #266a69 !default;
$seven-color: #840084 !default;
$eight-color: black !default;

sw-field {
  display: block;
}

sw-field > div {
  display: block;
  font-weight: 900;
  width: $boxSize + unquote("px");
  height: $boxSize + unquote("px");
  background: #c0c0c0;
  border-top: $borderSize+ unquote("px") solid white;
  border-right: $borderSize+ unquote("px") solid #808080;
  border-bottom: $borderSize+ unquote("px") solid #808080;
  border-left: $borderSize+ unquote("px") solid white;
  text-align: center;
  line-height: $boxSize + unquote("px");
}

.flag {
  width: $boxSize + unquote("px");
  height: $boxSize + unquote("px");
}


sw-field > .open {
  border: 0;
  width: $box+ unquote("px");
  height: $box+ unquote("px");
  line-height: $box + unquote("px");
}

sw-field > div.one {
  color: $one-color;
}

sw-field > div.two {
  color: $two-color;
}

sw-field > div.three {
  color: $three-color;
}

sw-field > div.four {
  color: $four-color;
}

sw-field > div.five {
  color: $five-color;
}

sw-field > div.six {
  color: $six-color;
}

sw-field > div.seven {
  color: $seven-color;
}

sw-field > div.eight {
  color: $eight-color;
}

sw-field > .closed {
  cursor: pointer;
}

