example-list-item-inner .btn {
  margin-right: 10px;
}


example-list-item-inner .todo-item {
  height: 75px;
  line-height: 75px;
  display: flex;
}
example-list-item-inner .todo-item-text {
  flex: auto;
}