.todo-item {
  cursor: pointer;
  background-color: #efefef;
  border-bottom: 1px solid #ccc;
  padding: 20px;
}

.todo-item:hover {
  background-color: #ddd;
}

example-list-item-inner .btn {
  float: right;
}