.todo-item {
  cursor: pointer;
  background-color: #efefef;
  border-bottom: 1px solid #ccc;
  padding-left: 20px;
  padding-right: 20px;
}

.todo-item:hover {
  background-color: #ddd;
}

example-list-item-inner .btn {
  margin-top: 19.5px
}
example-list-item-inner span {
  margin-top: 26px
}

