.switch input[type="checkbox"].invalid + span {
    background-color: #F44336 !important;
}

input[type="checkbox"]:not(:checked):not(.filled-in).invalid + span:not(.lever):before{
    border: 2px solid #F44336 !important;
}

input[type="checkbox"].invalid + span:not(.lever):after {
    border: 2px solid #F44336 !important;
}

input[type="radio"]:not(:checked).invalid + span:before,
input[type="radio"]:not(:checked).invalid + span:after {
    border: 2px solid #F44336 !important;
}


.switch input[type="checkbox"].valid + span {
    background-color: #4CAF50 !important;
}

input[type="checkbox"]:not(:checked):not(.filled-in).valid + span:not(.lever):before{
    border: 2px solid #4CAF50;
}

input[type="checkbox"].valid + span:not(.lever):after {
    border: 2px solid #4CAF50 !important;
}

input[type="radio"]:not(:checked).valid + span:before,
input[type="radio"]:not(:checked).valid + span:after {
    border: 2px solid #4CAF50 !important;
}

input[type="checkbox"] + span:not(.lever){
    margin-left: 4px;
}